In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("./ds_salary_cleaned.csv")

In [3]:
df.head(4)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,Job_state,same_state,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,NM,0,47,1,0,1,1,1,0,0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,MD,0,36,1,0,0,1,1,0,0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,FL,1,10,1,0,1,1,1,1,0
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,WA,1,55,1,0,0,1,1,0,0

In [4]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                                       131
Data Engineer                                                         53
Senior Data Scientist                                                 34
Data Analyst                                                          15
Senior Data Engineer                                                  14
                                                                    ...
Data Scientist (Warehouse Automation)                                  1
Jr. Data Scientist                                                     1
Data Architect / Data Modeler                                          1
Associate Scientist / Sr. Associate Scientist, Antibody Discovery      1
Machine Learning Engineer (NLP)                                        1
Name: count, Length: 264, dtype: int64

In [5]:
job_categories = {'director':['director','expert'],
                  'maneger':['manager'],                    
                  'data scientist':['data scientist','data science'],
                  'data engineer':['data engineer','warehourse'],
                  'analyst':['analyst'],
                  'mle':['machine learning','ml','mle','NLP']}

In [6]:
job_seniority = { 'senior':['sr','senior','principle','lead','leader',"project", "management"],
                  'junior':['jr','junior']
                }

In [7]:
title = df['Job Title'].str.lower().fillna('')

df['job_category'] = pd.Series(index=df.index,dtype='object')


for category, keywords in job_categories.items():
    pattern = '|'.join(keywords)
    mask = title.str.contains(pattern, regex=True)
    df.loc[mask & df['job_category'].isna(), 'job_category'] = category

In [8]:
df['seniority'] = pd.Series(index=df.index,dtype='object')

title = df['Job Title'].str.lower().fillna('')

for level,keywords in job_seniority.items():
    pattern = '|'.join(keywords)
    mask  = title.str.contains(pattern,regex=True)
    df.loc[mask & df['seniority'].isna(),'seniority'] = level

In [9]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,47,1,0,1,1,1,0,0,data scientist,NaN
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,36,1,0,0,1,1,0,0,data scientist,NaN
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,10,1,0,1,1,1,1,0,data scientist,NaN
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,55,1,0,0,1,1,0,0,data scientist,NaN
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,...,22,1,0,0,1,1,0,0,data scientist,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,...,190,0,0,0,0,0,0,0,NaN,senior
738,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,...,14,1,0,0,1,1,1,1,data engineer,senior
739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,...,36,0,0,0,1,0,0,0,NaN,senior
740,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,...,-1,0,0,0,1,0,0,0,maneger,NaN
741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,...,53,1,0,0,1,0,0,0,NaN,NaN

In [10]:
df['seniority'].value_counts()

seniority
senior    206
junior      3
Name: count, dtype: int64

In [11]:
df['job_category'] = df['job_category'].fillna('na')
df['seniority'] = df['seniority'].fillna('na')

In [12]:
df.columns

Index(['Job Title', 'Job Description', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'Hourly', 'employe provided',
       'Min_salary', 'Max_salary', 'Avg_salary', 'Company text', 'Job_state',
       'same_state', 'company_age', 'skill_python', 'skill_r studio',
       'skill_excel', 'skill_machine learning', 'skill_analysis',
       'skill_spark', 'skill_aws', 'job_category', 'seniority'],
      dtype='object')

In [13]:
# job description len
df['Job Description'] = df['Job Description'].fillna('')
df['desc_len'] = df['Job Description'].str.len()

In [14]:
# compititers counts
df['Competitors'] = df['Competitors'].replace('-1',np.nan)
df['competitors_counts'] = df.Competitors.str.split(',').str.len()

In [15]:
# imputing the null value of competitor counts as -1
df['competitors_counts'] = df['competitors_counts'].fillna(-1)
df['competitors_counts'].value_counts()

competitors_counts
-1.0    460
 3.0    228
 2.0     41
 1.0     12
 4.0      1
Name: count, dtype: int64

# hourly wage to annual.
df['avg_annual_wage'] = pd.Series(index=df.index,dtype=int)
df['avg_annual_wage']= ((df.loc[df['Hourly']==1,'Avg_salary']*2000)/1000)
df.loc[df['Hourly']==1,'avg_annual_wage']

# employ provided to annual
df['avg_annual_wage'] = df.loc[df['employe provided']==1,'Avg_salary']
df.loc[df['employe provided']==1,'avg_annual_wage']

# appro. annual to 
# df[df['avg_annual_wage'].isna()]
df['avg_annual_wage'] = df['avg_annual_wage'].fillna(df['Avg_salary'])

In [16]:
# hourly wage to annual.
 
# df['Min_salary'] = df.loc[df['Hourly']==1,'Min_salary']*2
df['Min_salary'] = np.where(df['Hourly']==1,df['Min_salary']*2,df['Min_salary'])
# df['Max_salary'] =  df.loc[df['Hourly']==1,'Max_salary']*2
df['Max_salary'] = np.where( df['Hourly']==1,df['Max_salary']*2,df['Max_salary'])
# df['Avg_salary'] = df.loc[df['Hourly']==1,['Min_salary','Max_salary']].mean(axis=1)
df['Avg_salary'] = np.where( df['Hourly']==1,df[['Min_salary','Max_salary']].mean(axis=1),df['Avg_salary'])

In [17]:
df.loc[df['Hourly']==1,['Min_salary','Avg_salary','Max_salary']]

     Min_salary  Avg_salary  Max_salary
165          34        41.0          48
177          42        55.0          68
197          36        43.0          50
202          42        55.0          68
210          30        40.0          50
246          34        41.0          48
271          42        55.0          68
337          36        43.0          50
345          48        63.0          78
357          42        55.0          68
363          50        53.0          56
408          42        50.0          58
409          20        27.0          34
492          36        43.0          50
509          48        63.0          78
533          42        55.0          68
542          50        53.0          56
617          42        50.0          58
618          20        27.0          34
645          54        74.0          94
666          36        43.0          50
682          48        63.0          78
711          42        55.0          68
724          50        53.0          56

In [18]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority,desc_len,competitors_counts
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,0,1,1,1,0,0,data scientist,na,2536,-1.0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,0,0,1,1,0,0,data scientist,na,4783,-1.0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,0,1,1,1,1,0,data scientist,na,3461,-1.0
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,0,0,1,1,0,0,data scientist,na,3883,3.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,...,0,0,1,1,0,0,data scientist,na,2728,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,...,0,0,0,0,0,0,na,senior,6162,3.0
738,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,...,0,0,1,1,1,1,data engineer,senior,6130,3.0
739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,...,0,0,1,0,0,0,na,senior,3078,-1.0
740,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,...,0,0,1,0,0,0,maneger,na,1642,-1.0
741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,...,0,0,1,0,0,0,na,na,3673,-1.0

In [19]:
# df['Avg_salary'] =  df.loc[df['Hourly']==1,['Min_salary','Max_salary']].mean(axis=1)

In [20]:
print(df['Company text'])

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
737                                      GSK
738                               Eventbrite
739           Software Engineering Institute
740                             Numeric, LLC
741             Riverside Research Institute
Name: Company text, Length: 742, dtype: object

In [21]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority,desc_len,competitors_counts
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,0,1,1,1,0,0,data scientist,na,2536,-1.0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,0,0,1,1,0,0,data scientist,na,4783,-1.0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,0,1,1,1,1,0,data scientist,na,3461,-1.0
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,0,0,1,1,0,0,data scientist,na,3883,3.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,...,0,0,1,1,0,0,data scientist,na,2728,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,...,0,0,0,0,0,0,na,senior,6162,3.0
738,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,...,0,0,1,1,1,1,data engineer,senior,6130,3.0
739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,...,0,0,1,0,0,0,na,senior,3078,-1.0
740,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,...,0,0,1,0,0,0,maneger,na,1642,-1.0
741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,...,0,0,1,0,0,0,na,na,3673,-1.0

In [22]:
df.columns

Index(['Job Title', 'Job Description', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'Hourly', 'employe provided',
       'Min_salary', 'Max_salary', 'Avg_salary', 'Company text', 'Job_state',
       'same_state', 'company_age', 'skill_python', 'skill_r studio',
       'skill_excel', 'skill_machine learning', 'skill_analysis',
       'skill_spark', 'skill_aws', 'job_category', 'seniority', 'desc_len',
       'competitors_counts'],
      dtype='object')

In [23]:
pd.set_option('Display.Max_columns',None)

In [24]:
df.head(3)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,employe provided,Min_salary,Max_salary,Avg_salary,Company text,Job_state,same_state,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority,desc_len,competitors_counts
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),NaN,0,0,53,91,72.0,Tecolote Research,NM,0,47,1,0,1,1,1,0,0,data scientist,na,2536,-1.0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,0,0,63,112,87.5,University of Maryland Medical System,MD,0,36,1,0,0,1,1,0,0,data scientist,na,4783,-1.0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),NaN,0,0,80,90,85.0,KnowBe4,FL,1,10,1,0,1,1,1,1,0,data scientist,na,3461,-1.0

['Job Title',
 'job_category',
 'seniority',
 'Job Description',
 'desc_len',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors',
 'Hourly',
 'employe provided',
 'Min_salary',
 'Max_salary',
 'Avg_salary',
 'Company text',
 'Job_state',
 'same_state',
 'company_age',
 'skill_python',
 'skill_r studio',
 'skill_excel',
 'skill_machine learning',
 'skill_analysis',
 'skill_spark',
 'skill_aws',
 'competitors_counts']

In [26]:
df.isna().sum()

Job Title                   0
Job Description             0
Rating                      0
Company Name                0
Location                    0
Headquarters                0
Size                        0
Founded                     0
Type of ownership           0
Industry                    0
Sector                      0
Revenue                     0
Competitors               460
Hourly                      0
employe provided            0
Min_salary                  0
Max_salary                  0
Avg_salary                  0
Company text                0
Job_state                   0
same_state                  0
company_age                 0
skill_python                0
skill_r studio              0
skill_excel                 0
skill_machine learning      0
skill_analysis              0
skill_spark                 0
skill_aws                   0
job_category                0
seniority                   0
desc_len                    0
competitors_counts          0
dtype: int64

In [29]:
df.head(3)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,employe provided,Min_salary,Max_salary,Avg_salary,Company text,Job_state,same_state,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority,desc_len,competitors_counts
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),NaN,0,0,53,91,72.0,Tecolote Research,NM,0,47,1,0,1,1,1,0,0,data scientist,na,2536,-1.0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,0,0,63,112,87.5,University of Maryland Medical System,MD,0,36,1,0,0,1,1,0,0,data scientist,na,4783,-1.0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),NaN,0,0,80,90,85.0,KnowBe4,FL,1,10,1,0,1,1,1,1,0,data scientist,na,3461,-1.0

In [31]:
column_restructured = ['Job Title','job_category', 'seniority', 'Job Description','desc_len', 'Rating', 'Company Name','Company text', 'Location',
       'Headquarters', 'Job_state','same_state', 'Size', 'Founded', 'company_age','Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors','competitors_counts', 'Hourly', 'employe provided',
         'skill_python', 'skill_r studio',
       'skill_excel', 'skill_machine learning', 'skill_analysis',
       'skill_spark', 'skill_aws','Min_salary', 'Max_salary', 'Avg_salary', 
       ]

In [33]:
df = df[column_restructured]

In [34]:
df

,Job Title,job_category,seniority,Job Description,desc_len,Rating,Company Name,Company text,Location,Headquarters,Job_state,same_state,Size,Founded,company_age,Type of ownership,Industry,Sector,Revenue,Competitors,competitors_counts,Hourly,employe provided,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,Min_salary,Max_salary,Avg_salary
0,Data Scientist,data scientist,na,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",2536,3.8,Tecolote Research\n3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",NM,0,501 to 1000 employees,1973,47,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),NaN,-1.0,0,0,1,0,1,1,1,0,0,53,91,72.0
1,Healthcare Data Scientist,data scientist,na,What You Will Do:\n\nI. General Summary\n\nThe...,4783,3.4,University of Maryland Medical System\n3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",MD,0,10000+ employees,1984,36,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,-1.0,0,0,1,0,0,1,1,0,0,63,112,87.5
2,Data Scientist,data scientist,na,"KnowBe4, Inc. is a high growth information sec...",3461,4.8,KnowBe4\n4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",FL,1,501 to 1000 employees,2010,10,Company - Private,Security Services,Business Services,$100 to $500 million (USD),NaN,-1.0,0,0,1,0,1,1,1,1,0,80,90,85.0
3,Data Scientist,data scientist,na,*Organization and Job ID**\nJob ID: 310709\n\n...,3883,3.8,PNNL\n3.8,PNNL,"Richland, WA","Richland, WA",WA,1,1001 to 5000 employees,1965,55,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",3.0,0,0,1,0,0,1,1,0,0,56,97,76.5
4,Data Scientist,data scientist,na,Data Scientist\nAffinity Solutions / Marketing...,2728,2.9,Affinity Solutions\n2.9,Affinity Solutions,"New York, NY","New York, NY",NY,1,51 to 200 employees,1998,22,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",3.0,0,0,1,0,0,1,1,0,0,86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",na,senior,Site Name: USA - Massachusetts - Cambridge\nPo...,6162,3.9,GSK\n3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",MA,0,10000+ employees,1830,190,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",3.0,0,0,0,0,0,0,0,0,0,58,111,84.5
738,Senior Data Engineer,data engineer,senior,THE CHALLENGE\nEventbrite has a world-class da...,6130,4.4,Eventbrite\n4.4,Eventbrite,"Nashville, TN","San Francisco, CA",TN,0,1001 to 5000 employees,2006,14,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",3.0,0,0,1,0,0,1,1,1,1,72,133,102.5
739,"Project Scientist - Auton Lab, Robotics Institute",na,senior,The Auton Lab at Carnegie Mellon University is...,3078,2.6,Software Engineering Institute\n2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",PA,1,501 to 1000 employees,1984,36,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,NaN,-1.0,0,0,0,0,0,1,0,0,0,56,91,73.5
740,Data Science Manager,maneger,na,Data Science ManagerResponsibilities:\n\nOvers...,1642,3.2,"Numeric, LLC\n3.2","Numeric, LLC","Allentown, PA","Chadds Ford, PA",PA,0,1 to 50 employees,-1,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),NaN,-1.0,0,0,0,0,0,1,0,0,0,95,160,127.5
741,Research Scientist – Security and Privacy,na,na,Returning Candidate? Log back in to the Career...,3673,3.6,Riverside Research Institute\n3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",OH,0,501 to 1000 employees,1967,53,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),NaN,-1.0,0,0,1,0,0,1,0,0,0,61,126,93.5

In [35]:
df.to_csv('./ds_salary_eda_ready.csv')