In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("./ds_salary_cleaned.csv")

In [14]:
df.head(4)

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,Job_state,same_state,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,NM,0,47,1,0,1,1,1,0,0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,MD,0,36,1,0,0,1,1,0,0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,FL,1,10,1,0,1,1,1,1,0
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,WA,1,55,1,0,0,1,1,0,0

In [22]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                                       131
Data Engineer                                                         53
Senior Data Scientist                                                 34
Data Analyst                                                          15
Senior Data Engineer                                                  14
                                                                    ...
Data Scientist (Warehouse Automation)                                  1
Jr. Data Scientist                                                     1
Data Architect / Data Modeler                                          1
Associate Scientist / Sr. Associate Scientist, Antibody Discovery      1
Machine Learning Engineer (NLP)                                        1
Name: count, Length: 264, dtype: int64

In [25]:
job_categories = {'director':['director','expert'],
                  'maneger':['manager'],                    
                  'data scientist':['data scientist','data science'],
                  'data engineer':['data engineer','warehourse'],
                  'analyst':['analyst'],
                  'mle':['machine learning','ml','mle','NLP']}

In [46]:
job_seniority = { 'senior':['sr','senior','principle','lead','leader',"project", "management"],
                  'junior':['jr','junior']
                }

In [47]:
title = df['Job Title'].str.lower().fillna('')

df['job_category'] = pd.Series(index=df.index,dtype='object')


for category, keywords in job_categories.items():
    pattern = '|'.join(keywords)
    mask = title.str.contains(pattern, regex=True)
    df.loc[mask & df['job_category'].isna(), 'job_category'] = category

In [48]:
df['seniority'] = pd.Series(index=df.index,dtype='object')

title = df['Job Title'].str.lower().fillna('')

for level,keywords in job_seniority.items():
    pattern = '|'.join(keywords)
    mask  = title.str.contains(pattern,regex=True)
    df.loc[mask & df['seniority'].isna(),'seniority'] = level

In [49]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,company_age,skill_python,skill_r studio,skill_excel,skill_machine learning,skill_analysis,skill_spark,skill_aws,job_category,seniority
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,47,1,0,1,1,1,0,0,data scientist,NaN
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,36,1,0,0,1,1,0,0,data scientist,NaN
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,10,1,0,1,1,1,1,0,data scientist,NaN
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,55,1,0,0,1,1,0,0,data scientist,NaN
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,...,22,1,0,0,1,1,0,0,data scientist,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,...,190,0,0,0,0,0,0,0,senior,senior
738,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,...,14,1,0,0,1,1,1,1,senior,senior
739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,...,36,0,0,0,1,0,0,0,NaN,senior
740,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,...,-1,0,0,0,1,0,0,0,maneger,NaN
741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,...,53,1,0,0,1,0,0,0,NaN,NaN

In [50]:
df['seniority'].value_counts(dropna=False)

seniority
NaN       533
senior    206
junior      3
Name: count, dtype: int64